.boot-screen{
    width:100%;
    height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background:
    radial-gradient(circle at top,#28366f,#050816 70%);

    overflow:hidden;
    transform:scale(1);

transition:
transform 5s cubic-bezier(.16,.84,.44,1),
opacity 1s;
}

/* 1027 */

.boot-logo{

    font-size:90px;

    font-weight:bold;

    letter-spacing:18px;

    color:#9bb3ff;

    text-shadow:
    0 0 15px #8da2ff,
    0 0 35px #6c63ff,
    0 0 80px #6c63ff;

    animation: glow 2s infinite alternate;
}

@keyframes glow{

    from{

        transform:scale(1);

    }

    to{

        transform:scale(1.05);

    }

}

.boot-text{

    margin-top:35px;

    font-size:22px;

    letter-spacing:4px;

    opacity:.95;

    min-height:35px;
}

/* Loading */

.loading-bar{

    margin-top:35px;

    width:330px;

    height:10px;

    border-radius:999px;

    overflow:hidden;

    background:rgba(255,255,255,.15);
}

.loading-fill{

    width:100%;

    height:100%;

    background:linear-gradient(
        90deg,
        #6c63ff,
        #8da2ff,
        #7dd3fc
    );

    animation:loading 2s infinite;
}

@keyframes loading{

    from{

        transform:translateX(-100%);

    }

    to{

        transform:translateX(100%);

    }

}

/* Button */

.boot-button{

    margin-top:45px;

    padding:15px 45px;

    border:none;

    border-radius:999px;

    background:linear-gradient(
        135deg,
        #6c63ff,
        #7dd3fc
    );

    color:white;

    font-size:18px;

    letter-spacing:4px;

    cursor:pointer;

    transition:.3s;

    box-shadow:
    0 0 20px rgba(120,150,255,.45);
}

.boot-button:hover{

    transform:translateY(-4px);

    box-shadow:
    0 0 35px rgba(120,150,255,.8);
}
.fade-out{

    animation:fadeOut 1.2s forwards;

}

@keyframes fadeOut{

    0%{

        opacity:1;
        transform:scale(1);

    }

    100%{

        opacity:0;
        transform:scale(1.03);

    }

}

/* Warp 时镜头慢慢推进 */

.boot-screen.warp{

    transform:scale(1.12);

}

/* ========================= */
/* Warp Camera Effect */
/* ========================= */

.boot-screen.warp .boot-logo{

    transform:scale(1.08);

    filter:blur(2px);

    transition:
    transform 5s cubic-bezier(.16,.84,.44,1),
    filter 5s cubic-bezier(.16,.84,.44,1);

}

.boot-screen.warp .boot-text{

    transform:translateY(-8px);

    filter:blur(1.8px);

    opacity:.85;

    transition:all 5s cubic-bezier(.16,.84,.44,1);

}

.boot-screen.warp .loading-bar{

    transform:scaleX(1.08);

    filter:blur(1px);

    transition:all 5s cubic-bezier(.16,.84,.44,1);

}

.boot-screen.warp .boot-button{

    animation:

    cameraShake .25s linear infinite;

    filter:blur(2px);

    opacity:.9;

    transition:all 5s cubic-bezier(.16,.84,.44,1);

}

@keyframes cameraShake{

    0%{

        transform:
        scale(1.12)
        translate(0,0);

    }

    20%{

        transform:
        scale(1.12)
        translate(-1px,1px);

    }

    40%{

        transform:
        scale(1.12)
        translate(2px,-1px);

    }

    60%{

        transform:
        scale(1.12)
        translate(-2px,1px);

    }

    80%{

        transform:
        scale(1.12)
        translate(1px,-2px);

    }

    100%{

        transform:
        scale(1.12)
        translate(0,0);

    }

}